<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <h1>Signup</h1>
    <form action="/signup" method="POST">
        <input type="text" name="name" placeholder="Name" required><br>
        <input type="password" name="password" placeholder="Password" required><br>
        <input type="submit">
        <h3>Already have an account? <a href="/">Login</a></h3>
    </form>
</body>

</html>